<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>设置密码</title>
    <style>
        #form{
            width:100px;
        }
        form{
            width:100%;
        }
        form label{
            display:block;
            padding:3px 1px;
        }
    </style>
</head>
<body>
<div id="form">
    <form  method="post" onsubmit="return check()">
        <label for="pwd">密码：<input type="password" name="password" value="" id="pwd"></label>
        <label for="repeat">确认：<input type="password" name="repeat" value="" id="repeat"></label>
        <input type="submit" value="确定">
    </form>

</div>

</body>
<script>
function check(){
    var pwd = document.getElementById('pwd').value
    var repeat = document.getElementById('repeat').value
    if(pwd!==repeat){
        alert('密码不一致！')
        return false
    }
    if(pwd.length<6||pwd.length>20){
        alert('密码长度在6-20之间')
        return false
    }

    return true;

//    if
}
</script>
</html>